*
	margin: 0
	padding: 0

body
	#container
		box-sizing: border-box
		width: 20%
		float: left
		border: 1px solid black
		#user
			width: 100%
			height: 500px
			border: 1px solid black
		nav
			width: 100%
			height: 600px
			border: 1px solid black
	main
		box-sizing: border-box
		width: 80%
		height: 900px
		float: right
		border: 1px solid black
	footer
		&::before
			content: " "
			display: block
			clear: both
		width: 100%
		border: 1px solid black
	#calendar
		position: fixed
		top: 0
		width: 100%
		height: 100%
		background: rgba(0,0,0,0.7)
		#calcontent
			margin-top: 10%
			h3
				color: white
				text-align: center
			.evenement
				p
					color: white
					text-align: center
