@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

/* ATTENTION LES LIGNES SUIVANTES APPARAISSENT COMME UN CONFLIT GIT EN RUBY */
.panel {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  position: relative;
  font-size: 0.8em;
  -webkit-perspective: 600px;
  -moz-perspective: 600px; }

.panel .front {
  position: absolute;
  top: 0;
  z-index: 900;
  width: inherit;
  height: inherit;
  text-align: center;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.panel.flip .front {
  z-index: 900;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg); }

.panel .back {
  position: absolute;
  top: 0;
  z-index: 800;
  width: inherit;
  height: inherit;
  -webkit-transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-transform: rotateY(-180deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.panel.flip .back {
  z-index: 1000;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg); }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* Style et positionement des ├®lements dans le popup qui display les evenement de la data concern├®  */ }
  body #container {
    box-sizing: border-box;
    width: 20%;
    height: 80%;
    float: left;
    background-color: #211540;
    /* Encadr├® en haut ├á gauche qui contient les information relative a l'utilisateur connect├® */ }
    body #container #user {
      width: 100%;
      height: 500px;
      border-bottom: 2px solid #422B7F; }
      body #container #user p {
        font-family: "PT Sans", sans-serif;
        text-transform: uppercase;
        color: white;
        font-weight: bold;
        text-align: center; }
      body #container #user a {
        text-decoration: none;
        color: #8455FF;
        text-align: center;
        text-transform: uppercase;
        display: block;
        padding-top: 5px;
        padding-bottom: 5px; }
        body #container #user a:hover {
          background-color: #7C3CFF;
          color: #FFF; }
      body #container #user img {
        display: block;
        margin: auto;
        border-radius: 50%;
        border: 2px solid #7F36F9; }
    body #container nav {
      width: 100%;
      height: 600px;
      padding-top: 30px;
      padding-left: 30px; }
      body #container nav ul li {
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        list-style-type: none;
        padding: 8px; }
        body #container nav ul li:hover {
          background-color: #7C3CFF;
          width: 200px;
          border-radius: 5px; }
        body #container nav ul li a {
          text-decoration: none;
          color: white; }
          body #container nav ul li a::before {
            content: "♫  "; }
  body main {
    padding: 30px;
    background-color: #6340BF;
    color: white;
    float: left;
    min-height: 1100px;
    box-sizing: border-box;
    width: 80%;
    /* Formulaire d'ajout de chansons a la library des choristes */ }
    body main::after {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0; }
    body main h2 {
      font-size: 40px;
      font-family: "PT Sans", sans-serif;
      text-transform: capitalize;
      margin: 15px; }
    body main nav {
      font-size: 18px;
      margin: 10px; }
      body main nav a {
        color: white;
        text-decoration: none; }
    body main #player {
      display: none;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.7);
      width: 80%;
      height: 100%;
      z-index: 5; }
      body main #player object {
        display: block;
        margin: auto;
        margin-top: 5%; }
    body main #ajout_chanson fieldset fieldset {
      box-sizing: border-box;
      width: 33%;
      float: left; }
    body main #tutti_song {
      display: none; }
  body #calendar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); }
    body #calendar #calcontent {
      margin-top: 10%; }
      body #calendar #calcontent h3 {
        color: white;
        text-align: center; }
      body #calendar #calcontent .evenement p {
        color: white;
        text-align: center; }

form#news, form#document, form#youtube, form#image {
  display: none;
  border: 1px dotted white;
  border-radius: 5px;
  padding: 30px;
  margin-top: 20px;
  width: 50%; }
  form#news label, form#document label, form#youtube label, form#image label {
    display: block;
    margin: 10px; }
  form#news select, form#document select, form#youtube select, form#image select {
    margin: 10px; }
  form#news input, form#document input, form#youtube input, form#image input {
    background-color: #3E1E7F;
    border: 1px solid #3E1E7F;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px; }
  form#news button[type=submit], form#document button[type=submit], form#youtube button[type=submit], form#image button[type=submit] {
    background-color: #564ce1;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 12px;
    border: 1px solid #3E1E7F; }
  form#news textarea, form#document textarea, form#youtube textarea, form#image textarea {
    background-color: #3E1E7F;
    border-radius: 5px;
    border: 1px solid #8455FF; }
  form#news select, form#document select, form#youtube select, form#image select {
    background-color: #7451e9;
    padding: 5px;
    color: white; }

.actus figure img {
  width: 200px;
  height: 200px;
  margin: auto; }

.actus::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

article {
  width: 25%;
  min-height: 400px;
  float: left;
  padding: 20px;
  text-align: justify;
  background-color: #3E1E7F;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden; }
  article figure img {
    display: block;
    margin: auto; }
  article figcaption {
    text-transform: uppercase;
    padding: 10px;
    text-align: center; }
  article h3 {
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px; }
  article a {
    text-transform: uppercase;
    text-decoration: none;
    float: right;
    color: #A07DFF; }
    article a:hover {
      font-weight: bold; }

.actus p {
  padding: 10px;
  float: left; }

section::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

form#image input:nth-of-type(3) {
  background-color: #6340BF;
  border: none; }

#datepicker {
  margin: auto;
  width: 310px;
  display: block; }

ul {
  margin-top: 15px; }
  ul li {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    list-style-type: none;
    padding: 8px; }
    ul li:hover {
      background-color: #422B7F;
      width: 250px;
      border-radius: 5px; }
    ul li a {
      text-decoration: none;
      color: white; }
      ul li a::before {
        content: "♫  "; }

footer {
  background-color: #422B7F;
  color: white;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  height: 20%; }
  footer::before {
    content: " ";
    display: block;
    clear: both;
    width: 100%;
    border-top: 2px solid #422B7F; }
  footer ul li {
    display: inline; }
    footer ul li::before {
      content: "♫  "; }

/*# sourceMappingURL=choristes_home.css.map */
