@charset "UTF-8";
.container {
  width: 1140px;
  margin: auto; }

* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "AnabelleScript";
  src: url("../font/AnabelleScriptLight.ttf") format("truetype"); }
.panel {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  position: relative;
  font-size: 0.8em;
  -webkit-perspective: 600px;
  -moz-perspective: 600px; }

.panel .front {
  position: absolute;
  top: 0;
  z-index: 900;
  width: inherit;
  height: inherit;
  text-align: center;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.panel.flip .front {
  z-index: 900;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg); }

.panel .back {
  position: absolute;
  top: 0;
  z-index: 800;
  width: inherit;
  height: inherit;
  -webkit-transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-transform: rotateY(-180deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.panel.flip .back {
  z-index: 1000;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg); }

body {
  color: white;
  font-family: "PT Sans", sans-serif;
  background-color: #201c54; }
  body > header {
    background-color: #564ce1;
    position: relative;
    width: 100%; }
    body > header > img {
      display: block;
      width: 100%;
      height: auto;
      margin: 0; }
    body > header > .container > h1 {
      display: block;
      width: 50%;
      margin-left: 25%;
      margin-right: 25%;
      position: absolute;
      font-size: 150px;
      color: white;
      text-shadow: 5px 5px 20px #7E00FF, -5px -5px 20px #250959;
      top: 30px;
      font-family: "AnabelleScript"; }
    body > header > .container > nav {
      padding: 10px;
      min-height: 20px;
      margin-top: 0;
      margin-bottom: 0; }
      body > header > .container > nav #menumobile {
        display: none; }
      body > header > .container > nav > ul > li {
        list-style: none;
        display: block;
        box-sizing: border-box;
        float: left;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        text-align: center;
        padding-left: 25px;
        padding-right: 25px; }
        body > header > .container > nav > ul > li > a {
          margin: 0px;
          text-decoration: none;
          color: white;
          padding: 8px;
          padding: 10px; }
          body > header > .container > nav > ul > li > a:hover {
            background-color: #181540;
            border-radius: 5px; }
        body > header > .container > nav > ul > li:last-of-type {
          padding: 0; }
        body > header > .container > nav > ul > li:last-of-type::after {
          content: "*";
          color: #ff4e6e; }
      body > header > .container > nav > .fb-share-button {
        position: absolute;
        float: right;
        bottom: 10px;
        right: 5px; }
  body > #presentation {
    background-color: #393294;
    margin-top: 0;
    padding: 50px;
    padding-bottom: 70px;
    box-shadow: inset 0px 3px 20px #29237B, 0px 3px 20px #29237B; }
    body > #presentation > .container > h2 {
      padding: 20px;
      font-size: 20px;
      text-transform: uppercase; }
    body > #presentation > .container > img {
      width: 40%;
      padding: 5%;
      float: left; }
    body > #presentation > .container > p {
      color: white; }
      body > #presentation > .container > p strong {
        font-weight: normal; }
      body > #presentation > .container > p em {
        font-style: normal; }
    body > #presentation > .container ul {
      margin-top: 20px; }
      body > #presentation > .container ul > li {
        padding-right: -30px;
        color: white;
        list-style-type: circle; }
    body > #presentation > .container a {
      margin: 0px;
      text-decoration: none;
      color: white;
      display: block;
      padding: 8px;
      margin-top: 10px;
      text-align: right; }
      body > #presentation > .container a::before {
        content: " + "; }
      body > #presentation > .container a:hover {
        text-shadow: 5px 5px 30px #1E0453; }
  body > #actus {
    background-color: #4e45cc;
    box-shadow: inset 0px 3px 20px #2E2792, 0px 3px 20px #2E2792;
    padding: 50px;
    padding-bottom: 70px; }
    body > #actus > .container > h2 {
      padding: 20px;
      font-size: 20px;
      text-transform: uppercase; }
    body > #actus > .container > .flexslider {
      background: none;
      text-align: center;
      border: none;
      margin-bottom: 0; }
      body > #actus > .container > .flexslider ul li article {
        width: 320px;
        height: 240px;
        overflow: hidden;
        background-color: black;
        float: left;
        position: relative;
        margin: 30px; }
        body > #actus > .container > .flexslider ul li article div {
          width: 100%;
          height: 240px;
          position: absolute;
          top: 0;
          overflow: hidden; }
          body > #actus > .container > .flexslider ul li article div div {
            background-color: rgba(102, 88, 206, 0.7);
            height: 240px;
            position: absolute;
            top: 195px; }
          body > #actus > .container > .flexslider ul li article div img {
            width: 320px;
            height: 320px; }
          body > #actus > .container > .flexslider ul li article div .infoactu h3 {
            position: absolute;
            height: 50px;
            width: 300px;
            background-color: rgba(102, 88, 206, 0.7);
            top: 250px;
            padding-left: 20px;
            padding-top: 15px; }
          body > #actus > .container > .flexslider ul li article div .infoactu p {
            padding: 5px; }
          body > #actus > .container > .flexslider ul li article div .infoactu a {
            text-decoration: none;
            position: absolute;
            bottom: 10px;
            right: 10px;
            color: white;
            display: block;
            text-align: right; }
            body > #actus > .container > .flexslider ul li article div .infoactu a::before {
              content: " + ";
              color: white; }
    body > #actus > .container > a {
      margin: 0px;
      text-decoration: none;
      color: white; }
      body > #actus > .container > a:last-of-type {
        content: " + ";
        display: block;
        text-align: center;
        float: right; }
  body > #video {
    background-color: #584ee6;
    box-shadow: inset 0px 3px 20px #3C34AA, 0px 3px 20px #3C34AA;
    padding: 50px;
    padding-bottom: 70px; }
    body > #video > .container > h2 {
      padding: 20px;
      font-size: 20px;
      text-transform: uppercase; }
    body > #video > .container > .flexslider {
      background: none;
      text-align: center;
      border: none;
      margin-bottom: 0; }
      body > #video > .container > .flexslider ul li {
        width: 1140px;
        margin-right: 0;
        float: left;
        display: block; }
    body > #video > .container > a {
      margin: 0px;
      text-decoration: none;
      color: white; }
      body > #video > .container > a:last-of-type {
        content: " + ";
        display: block;
        text-align: center;
        float: right; }
  body > #photo {
    background-color: #393294;
    padding: 50px;
    padding-bottom: 70px;
    box-shadow: inset 0px 3px 20px #1F1A63, 0px 3px 20px #1F1A63; }
    body > #photo > .container > h2 {
      padding: 20px;
      font-size: 20px;
      text-transform: uppercase; }
    body > #photo > .container > .flexslider {
      background: none;
      text-align: center;
      border: none;
      margin-bottom: 0; }
    body > #photo > .container > #carousel {
      width: 640px;
      height: 385px;
      margin: auto;
      overflow: hidden; }
    body > #photo > .container > a {
      margin: 0px;
      text-decoration: none;
      color: white; }
      body > #photo > .container > a:last-of-type {
        content: " + ";
        display: block;
        text-align: center;
        float: right; }
  body > #contact {
    background-color: #201c54;
    box-shadow: inset 0px 3px 20px #0A0825, 0px 3px 20px #0A0825;
    padding: 50px;
    padding-bottom: 70px; }
    body > #contact > .container > h2 {
      padding: 20px;
      font-size: 20px;
      text-transform: uppercase; }
    body > #contact > .container > form {
      padding-left: 200px;
      padding-top: 30px; }
      body > #contact > .container > form > label {
        text-transform: uppercase;
        padding-right: 10px; }
        body > #contact > .container > form > label > input {
          background-color: #393294;
          border: 1px solid #1E1A4D;
          padding: 5px;
          margin-left: 10px;
          border-radius: 5px;
          color: white; }
        body > #contact > .container > form > label > textarea {
          width: 680px;
          height: 250px;
          margin-top: 50px;
          background-color: #393294;
          color: white;
          resize: none;
          font-family: "PT Sans", sans-serif;
          font-size: 14px;
          padding: 5px;
          border: none;
          border-radius: 5px; }
      body > #contact > .container > form > button {
        border: none;
        padding: 8px;
        background-color: #393294;
        color: white;
        display: block;
        margin-top: 8px;
        margin-left: 620px;
        text-transform: uppercase; }
        body > #contact > .container > form > button::-webkit-input-placeholder {
          color: #DFBAFF; }
        body > #contact > .container > form > button::-moz-placeholder {
          color: #DFBAFF; }
        body > #contact > .container > form > button:-ms-input-placeholder {
          color: #DFBAFF; }
  body > footer {
    background-color: #201c54;
    box-shadow: inset 0px 3px 20px #0E0B2E, 0px 3px 20px #0E0B2E;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #6156FF; }
    body > footer > #credits {
      margin: 0;
      width: 20%;
      float: right; }
      body > footer > #credits > ul > li {
        list-style: none;
        text-transform: uppercase; }
        body > footer > #credits > ul > li::before {
          content: "♫  "; }
        body > footer > #credits > ul > li > a {
          color: white;
          text-decoration: none; }
          body > footer > #credits > ul > li > a:hover {
            background-color: #584ee6;
            width: 250px;
            border-radius: 5px; }
    body > footer > #goup {
      background: #BC9BFE;
      text-decoration: none;
      padding: 10px;
      font-weight: 700;
      box-shadow: 0 5px 5px #210075;
      border-radius: 5px;
      color: #34007B;
      position: fixed;
      bottom: 20px;
      left: 20px; }

/*# sourceMappingURL=home.css.map */
