/*
Error: Properties are only allowed within rules, directives, mixin includes, or other properties.
       If ":-ms-input-placeholder" should be a selector, use "\:-ms-input-placeholder" instead.
        on line 332 of home.sass

327: 
328: ::-webkit-input-placeholder 
329: 	color: #DFBAFF
330: ::-moz-placeholder 
331: 	color: #DFBAFF
332: :-ms-input-placeholder
333: 	color: #DFBAFF
334: 
335: input:-moz-placeholder
336: 	color: #DFBAFF
337: 

Backtrace:
home.sass:332
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/tree/visitors/check_nesting.rb:13:in `visit'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `map'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/tree/visitors/check_nesting.rb:49:in `visit_children'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/tree/visitors/check_nesting.rb:57:in `visit_root'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/tree/visitors/check_nesting.rb:15:in `visit'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:24:in `visit'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/tree/root_node.rb:35:in `css_tree'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:378:in `_render_with_sourcemap'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:295:in `render_with_sourcemap'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/plugin.rb:82:in `update_stylesheets'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/exec/sass_scss.rb:361:in `watch_or_update'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/exec/sass_scss.rb:51:in `process_result'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/exec/base.rb:52:in `parse'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/exec/base.rb:19:in `parse!'
C:/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.20/bin/sass:13:in `<top (required)>'
C:/Ruby22/bin/sass:23:in `load'
C:/Ruby22/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Properties are only allowed within rules, directives, mixin includes, or other properties.\A        If \":-ms-input-placeholder\" should be a selector, use \"\:-ms-input-placeholder\" instead.\A         on line 332 of home.sass\A \A 327: \A 328: ::-webkit-input-placeholder \A 329: 	color: #DFBAFF\A 330: ::-moz-placeholder \A 331: 	color: #DFBAFF\A 332: :-ms-input-placeholder\A 333: 	color: #DFBAFF\A 334: \A 335: input:-moz-placeholder\A 336: 	color: #DFBAFF\A 337: "; }
