* {
  margin: 0;
  padding: 0; }

body {
  color: white;
  font-family: "PT Sans", sans-serif; }

footer {
  background-color: #201c54; }

.container {
  width: 1140px;
  height: auto;
  margin-left: auto;
  margin-right: auto; }

header {
  margin-bottom: 0;
  background-color: #564ce1;
  position: relative; }

header img {
  margin-left: auto;
  margin-right: auto;
  display: block; }

nav {
  background-color: #564ce1;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 0; }
  nav ul li {
    list-style: none;
    display: inline;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    padding-left: 32px;
    padding-right: 32px; }
    nav ul li a {
      text-decoration: none;
<<<<<<< HEAD
      color: white; }
=======
      color: white;
      padding: 8px; }
>>>>>>> 6186f6425168bc6fbab016e923ff297d38fa869a
      nav ul li a:hover {
        background-color: #181540;
        padding: 10px;
        border-radius: 5px; }
    nav ul li:last-of-type::after {
      content: "*";
      color: #ff4e6e; }

#presentation {
  background-color: #393294;
  margin-top: 0;
  margin-bottom: 0;
  padding: 50px;
  box-shadow: inset 0px 3px 20px #29237B; }
  #presentation img {
    width: 40%;
    padding: 5%;
    float: left; }
  #presentation::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  #presentation a {
    text-decoration: none;
    color: white;
    margin-left: 1000px;
    display: block;
    padding: 8px;
    margin-top: 10px;
    text-align: center; }
    #presentation a::before {
      content: " + "; }
    #presentation a:hover {
      background-color: #201c54;
      border-radius: 5px; }
  #presentation p {
    padding: 8px; }
  #presentation ul li {
    margin-left: 20px; }

#actus {
  background-color: #4e45cc;
  height: 500px; }

#video {
  background-color: #584ee6;
  height: 550px; }
  #video a {
    text-decoration: none;
    color: white; }
    #video a:last-of-type {
      content: " + ";
      display: block;
      text-align: center;
      float: right;
      margin-top: 50px; }

#photo {
  background-color: #393294;
  height: 640px; }

#contact {
  background-color: #201c54;
  height: 540px; }

article {
  width: 320px;
  height: 320px;
  float: left;
  position: relative;
  margin: 30px; }
  article img {
    width: 320px;
    height: 320px; }
  article h3 {
    position: absolute;
    height: 50px;
    width: 300px;
    background-color: rgba(102, 88, 206, 0.7);
    top: 255px;
    padding-left: 20px;
    padding-top: 15px; }
  article a {
    text-decoration: none;
    color: white;
    margin-bottom: 0; }
  article div {
    width: 100%;
    height: 240px;
    position: absolute;
    top: 0;
    overflow: hidden; }
    article div div {
      background-color: rgba(102, 88, 206, 0.7);
      height: auto;
      position: absolute;
      top: 190px; }
      article div div h3 {
        width: 300px;
        padding-left: 20px;
        padding-top: 15px; }
      article div div a {
        text-decoration: none;
        color: white;
        display: block;
        text-align: right; }
        article div div a::before {
          content: " + ";
          color: white; }

section > .container > a {
  text-decoration: none;
  color: white;
  margin-left: 1000px; }
  section > .container > a::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }

h2 {
  padding: 20px;
  font-size: 20px;
  text-transform: uppercase; }

.flexslider {
  background: none;
  text-align: center;
  border: none;
  margin-bottom: 0; }
  .flexslider li p {
    padding-top: 15px;
    font-size: 20px; }

@font-face {
  font-family: "AnabelleScript";
  src: url("../font/AnabelleScriptLight.ttf") format("truetype"); }
h1 {
  font-family: "AnabelleScript";
  font-size: 150px;
  position: absolute;
  top: 20px;
  display: block;
  margin-left: 420px;
  margin-right: 420px;
  text-shadow: 3px 2px 20px #765eba, 2px 2px #181540; }

.retour {
  background-color: #201c54;
  width: 142px;
  height: 52px;
  border: none;
  border-radius: 4px;
  color: #6257FF;
  font-size: 18px;
  font-weight: 400;
  position: fixed;
  right: 30px;
  bottom: 50px;
  border: 1px solid white;
  cursor: pointer; }
  .retour:hover {
    background-color: #393294;
    color: white;
    border: 1px solid #282367; }

.flex-viewport {
  text-align: center; }

#carousel {
  width: 640px;
  height: 385px;
  margin: auto; }

label {
  text-transform: uppercase;
  padding-right: 10px; }

textarea {
  width: 680px;
  height: 250px;
  margin-top: 50px;
  background-color: #393294;
  color: white;
  resize: none;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  padding: 5px;
  border: none;
  border-radius: 5px; }

input[type="text"], input[type="email"] {
  background-color: #393294;
  border: 1px solid #1E1A4D;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px; }

form {
  padding-left: 200px;
  padding-top: 30px; }

form button {
  border: none;
  padding: 8px;
  background-color: #393294;
  color: white;
  display: block;
  margin-top: 8px;
  margin-left: 620px;
  text-transform: uppercase; }

footer {
  text-align: center;
  color: #6156FF;
  text-transform: uppercase; }
  footer ul li {
    list-style: none; }

/*# sourceMappingURL=home.css.map */
