* {
  font-family: Montserrat, sans-serif; }

body {
  background: #6340BF; }
  body main #form {
    background: white;
    display: block;
    margin: auto;
    margin-top: 15%;
    padding: 30px;
    border-radius: 20px;
    width: 15%;
    min-width: 200px;
    height: 160px; }
    body main #form form label {
      text-align: center;
      margin: auto;
      display: block;
      margin-top: 5px;
      margin-bottom: 5px; }
    body main #form form input {
      width: 100%;
      min-width: 200px;
      display: block;
      margin: auto; }
    body main #form form button {
      border-radius: 5px;
      cursor: pointer;
      text-align: center;
      margin: auto;
      margin-top: 10px;
      display: block;
      width: 50%;
      background-color: #393294;
      color: white;
      border: none;
      padding: 5px; }
    body main #form a {
      display: block;
      margin-top: 10px;
      float: left;
      text-decoration: none;
      color: black; }
      body main #form a:nth-child(3) {
        float: right; }
      body main #form a:hover {
        text-decoration: underline; }
  body main #register {
    background: white;
    display: block;
    margin: auto;
    margin-top: 15%;
    padding: 30px;
    border-radius: 20px;
    width: 15%;
    min-width: 200px; }
    body main #register form label {
      text-align: center;
      margin: auto;
      display: block; }
    body main #register form input {
      width: 100%;
      min-width: 200px;
      display: block;
      margin: auto; }
    body main #register form #checkbox {
      position: relative;
      bottom: 15px;
      left: 60px; }
    body main #register form select {
      width: 100%;
      min-width: 200px;
      display: block;
      margin: auto; }
    body main #register form .tel {
      display: none; }
    body main #register form button {
      border-radius: 5px;
      cursor: pointer;
      text-align: center;
      margin: auto;
      margin-top: 10px;
      display: block;
      width: 50%;
      background-color: #393294;
      color: white;
      border: none;
      padding: 8px; }
    body main #register form a {
      display: block;
      margin-top: 10px;
      float: left;
      text-decoration: none;
      color: black; }
  body main #validation {
    background: white;
    margin: auto;
    margin-top: 15%;
    margin-bottom: 15%;
    padding: 35px;
    border-radius: 20px;
    width: 15%;
    min-width: 200px; }
    body main #validation a {
      text-decoration: none;
      color: #393294;
      float: right; }
      body main #validation a::after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0; }
  body main #resetpass {
    background: white;
    margin: auto;
    margin-top: 15%;
    margin-bottom: 15%;
    padding: 35px;
    border-radius: 20px;
    width: 15%;
    min-width: 200px; }
    body main #resetpass input {
      padding: 2px;
      border-radius: 5px;
      border: 1px solid #393294; }
      body main #resetpass input:focus {
        outline: none; }
    body main #resetpass button {
      background-color: #393294;
      color: white;
      border-radius: 5px;
      border: none;
      padding: 10px;
      margin-left: 5px;
      margin-bottom: 10px;
      display: block;
      margin-top: 10px;
      float: left;
      text-decoration: none;
      width: 100%;
      text-align: center; }
  body main #resetpass {
    background: white;
    display: block;
    margin: auto;
    margin-top: 15%;
    padding: 30px;
    border-radius: 20px;
    width: 15%;
    min-width: 200px; }
    body main #resetpass form label {
      text-align: center;
      margin: auto;
      display: block; }
    body main #resetpass form input {
      width: 100%;
      min-width: 200px;
      display: block;
      margin: auto; }
    body main #resetpass form button {
      border-radius: 5px;
      cursor: pointer;
      text-align: center;
      margin: auto;
      margin-top: 10px;
      display: block;
      width: 50%;
      background-color: #393294;
      color: white; }
    body main #resetpass a {
      display: block;
      margin-top: 10px;
      text-decoration: none;
      color: black;
      width: 100%;
      text-align: center; }

/*# sourceMappingURL=login.css.map */
