body
	main
		ul
		#manageform
			display: none
			position: fixed
			top: 0
			left: 0
			width: 100%
			height: 100%
			background: rgba(0,0,0,0.7)
			a
				background: white
			h3
				margin-top: 3%
				text-align: center
				color: white
			form
				margin-top: 7%
				display: block
				label
					display: block
					text-align: center
				input
					display: block
					margin: auto
				select
					display: block
					margin: auto
				button
					display: block
					margin: auto
