body
	.pupitre
		.membre
			figure
				position: relative
				float: left
				width: 10%
				img
					display: block
					margin: auto
				.infos
					width: 150px
					height: 150px
					position: absolute
					top: 0
					margin-left: 20px
					overflow: hidden
					div
						width: 100%
						height: 100%
						top: 150px
						position: absolute
						background-color: rgba(0, 68, 255, 0.5)
						p
							margin-top: 10%
							text-align: center
				figcaption
					text-align: center
	.clearfix
		&::before
			content: " "
			display: block
			clear: both
		height: 200px
