@media (orientation: landscape) and (max-width: 768px) {
  .container {
    width: 100%; }

  body > header > img {
    display: none; }
  body > header > .container > h1 {
    display: block;
    position: initial;
    text-align: center; }
  body > header > .container > nav {
    display: block; }
    body > header > .container > nav > #menumobile {
      background: url("../img/menumobile.png");
      display: block;
      position: absolute;
      top: 105px;
      left: 0;
      width: 64px;
      height: 64px;
      background-size: 100%; }
    body > header > .container > nav > ul {
      display: none;
      position: absolute;
      background: #564ce1;
      height: 250px;
      width: 100%;
      left: 0;
      top: 169px;
      box-shadow: inset 0 -5px #2F0064; }
      body > header > .container > nav > ul > li {
        margin: 15px;
        font-size: 20px;
        float: none;
        text-align: left; }
        body > header > .container > nav > ul > li:last-of-type {
          padding-left: 25px; }
  body > #presentation {
    padding: 0; }
    body > #presentation > .container > img {
      display: block;
      margin: auto;
      float: none;
      padding: 0;
      width: 100%; }
    body > #presentation > .container > p {
      font-size: 20px; }
    body > #presentation > .container > a {
      font-size: 25px;
      margin: 0;
      margin-top: 10px;
      display: block;
      text-align: center;
      width: 100%; }
  body > #actus {
    padding: 0;
    padding-bottom: 100px;
    height: auto; }
    body > #actus > .container > .flexslider {
      width: 100%; }
    body > #actus > .container > a {
      margin: 0;
      display: block;
      font-size: 25px;
      text-align: center;
      margin-top: 50px;
      padding-bottom: 20px;
      width: 100%; }
  body > #video {
    padding: 0;
    padding-bottom: 50px;
    padding-top: 50px;
    height: auto; }
    body > #video > .container > .flexslider {
      display: none; }
    body > #video > .container > a {
      float: none;
      margin: 0;
      display: block;
      font-size: 25px;
      text-align: center;
      padding-bottom: 20px;
      width: 100%; }
  body > #photo {
    padding: 0;
    padding-bottom: 100px;
    padding-top: 50px; }
    body > #photo > .container > #carousel {
      width: 100%; }
    body > #photo > .container > a {
      float: none;
      margin: 0;
      display: block;
      font-size: 25px;
      text-align: center;
      margin-top: 25px;
      padding-bottom: 20px;
      width: 100%; }
  body > #contact {
    padding: 0; }
    body > #contact > .container > form {
      width: 70%;
      margin: auto;
      padding: 0; }
      body > #contact > .container > form > label > input {
        margin: 0;
        width: 100%; }
      body > #contact > .container > form > label > textarea {
        width: 100%;
        margin: 0; }
      body > #contact > .container > form > button {
        display: block;
        margin: auto;
        width: 40%; }
  body > footer > #credits {
    width: 100%; }
    body > footer > #credits > ul > li {
      float: none; }
  body > footer > a {
    display: none; }
  body > footer > .hover, body > footer .panel {
    position: relative;
    left: 40%; } }
#actus article {
  width: 100% !important; }
#actus ol {
  display: none; }
#actus .infoactu a {
  font-size: 20px; }

/*# sourceMappingURL=mobile_landscape.css.map */
