@media (orientation: landscape) and (max-width : 768px)
	.container
		width: 100%

	body
		&>header
			&>img
				display: none
			&>.container
				&>h1
					display: block
					position: initial
					margin: 0
					text-align: center
				&>nav
					display: block
					&>#menumobile
						background: url('../img/menumobile.png')
						display: block
						position: absolute
						top: 105px
						left: 0
						width: 64px
						height: 64px
						background-size: 100%
					&>ul
						display: none
						position: absolute
						background: #564ce1
						height: 200px
						left: 0
						top: 169px
						box-shadow: inset 0 -5px 5px #2F0064
						&>li
							display: block
							margin: 12px
							&>a
					&>div
		&>#presentation
			&>.container
				&>h2
				&>img
					display: block
					margin: auto
					float: none
					padding: 0
					width: 100%
				&>p
					font-size: 20px
					strong
					em
					&>ul
						&>li
				&>a
					font-size: 25px
					margin: 0
					margin-top: 10px
		&>#actus
			height: auto
			&>.container
				&>h2
				&>.flexslider
				&>a
					margin: 0
					display: block
					font-size: 25px
					text-align: center
					margin-top: 50px
					padding-bottom: 20px
		&>#video
			height: auto
			&>.container
				&>h2
				&>.flexslider
				&>a
					float: none
					margin: 0
					display: block
					font-size: 25px
					text-align: center
					margin-top: 50px
					padding-bottom: 20px
		&>#photo
			height: auto
			&>.container
				&>h2
				&>.flexslider
				&>a
					float: none
					margin: 0
					display: block
					font-size: 25px
					text-align: center
					margin-top: 50px
					padding-bottom: 20px
		&>#contact
			&>.container
				&>h2
				&>form
					width: 70%
					margin: auto
					padding: 0
					&>label
						&>input
							margin: 0
							width: 100%
						&>textarea
							width: 100%
							margin: 0
					&>button
						display: block
						margin: auto
						width: 40%
		&>footer
			&>#credits
				width: 100%
				&>ul
					&>li
						float: none
						&>a
			&>a
				display: none
			&>.hover,.panel
				position: relative
				left: 40%


	article
		width: 100%	
		margin: 0	
		&img			
		&h3 			
		&a
			&div
				&h3
				&a

	ol
		display: none

	.infoactu
		a
			font-size: 20px